<div class="app">
    <h1>{{text}}</h1>
    {{> Field 
    fieldLabel="Поле формы"
     labelText="Заголовок"
     inputType="text"
     placeholder="Введите что-нибудь"
     value=""
     error="true"
     errorMessage="Ничего не введено"
        }}
</div>