
     <form class="form {{additionalClass}}" action="">
         <h2 class="form-title">{{formTitle}}</h2>
      {{{FieldItems}}}

       <div class="form-buttons">
        {{{ButtonItems}}}
       </div>

     </form>
 