<form class="form {{additionalClass}}" action="">
  {{#if formTitle}}
    <h2 class="form-title">{{formTitle}}</h2>
  {{/if}}

  {{{FieldItems}}}

  {{#if ButtonItems.length}}
    <div class="form-buttons">
      {{{ButtonItems}}}
    </div>
  {{/if}}

</form>