<div class="app">
    <main class="page page-error">
    <p class="error-code">{{statusCode}}</p>
    <p class="error-message">Мы уже фиксим</p>
    {{>Button text="Назад к чатам" id="goback" mode="secondary" type="button"}}
    </main>
    {{>Footer }}
</div>
