<div class="app">
    <main class="page page-error">
    <p class="error-code">{{statusCode}}</p>
    <p class="error-message">Мы уже фиксим</p>
    {{{GoBackButton}}}
    </main>
    {{{Footer}}}
</div>
