$black: #1e1e1e;
$white: #ffffff;
$white2: #fbfbfb;
$blue: #3369f3;
$lightGray: #efefef;
$lightGray2: #eaeaea;
$gray: #999999;
$red: #ff0000;

body {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  line-height: 13px;
  overflow: hidden;
  margin: 0;
}

#app {
  width: 100vw;
  height: 100vh;

  .app {
    width: 100%;
    height: 100%;

    .button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: 0;
      border-radius: 0;
      font-family: "Inter", sans-serif;
      padding: 12px 70px;
      border-radius: 8px;
      font-size: 13px;
      font-weight: 500;
      line-height: 13px;
      width: 280px;
      height: 37px;

      &.button-primary {
        background-color: $blue;
        color: $white;
      }

      &.button-secondary {
        background: transparent;
        color: $blue;
        border: none;
      }

      &.button-danger {
        color: $red;
        background-color: transparent;
        border: none;
      }

      &.button-round {
        width: 28px;
        height: 28px;
        background-color: transparent;
        border: none;
      }
    }

   
  }

  .page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .avatar-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        .avatar {
            width: 40px;
            height: 40px;
    
            padding: 45px;
    
            background-color: $lightGray;
            border-radius: 50%;
            img {
              width: 100%;
              height: 100%;
            }
          }
      }

    &.page-error,
    &.page-notFound {
      flex-direction: column;

      .error-code {
        font-size: 40px;
        font-weight: 800;
        margin: 0;
      }
      .error-message {
        margin: 0;
        margin: 20px 0 69px 0;
        font-size: 20px;
        font-weight: 500;
      }
      .button-primary {
        font-size: 11px;
        font-weight: 500;
      }
    }

    &.page-profile {
      justify-content: flex-start;

      .aside {
        flex-basis: 64px;
        flex-grow: 0;
        flex-shrink: 0;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: $white2;
      }
      .profile-content {
        flex-grow: 1;
        flex-shrink: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

     
    }

    &.page-chats {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .chats-feed-wrapper {
            width: 25vw;
            background-color: $white2;

            .feed-header {
                height: 102px;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                border-bottom: 1px solid $lightGray2;
    
                .link-profile {
                    margin: 0;
                    padding-top: 21px;
                    padding-right: 10px;
                }
            }
    
            .feed-main {
                height: calc(100vh - 102px);
                overflow-y: auto;
    
                .chat {
                    display: grid;
                    align-items: center;
        grid-template-columns: 1fr 10fr 1fr;
                    padding: 12px 10px;
                    column-gap: 10px;
                    border-bottom: 1px solid #eaeaea;
    
                    .avatar-wrapper {
                        .avatar {
                            padding: 0;
                            width: 47px;
                            height: 47px;
                            border-radius: 50%;
        
                            img {
                                border-radius: 50%;
                            }
                           
                        }
                    }
    
                    .chat-content {
                        overflow: hidden;
                        .chat-title {
                            font-weight: 600;
                            color: $black
                        }
                        .chat-description {
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            font-size: 12px;
                            line-height: 12px;
                            color: $gray
                        }
                       
                    }
                    
                    .chat-data {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    
                    .chat-time {
                    font-size: 9px;
                    color: $gray;
                    
                     }
    
                     .chat-counter {
                     background-color: blue;
                     font-size: 11px;
                     color: $white;
        width: 20px;
        height: 20px;
        display: block;
        text-align: center;
      
        line-height: 20px;
        border-radius: 50%;
                     }
                    }
    
                   
                }
            }
        }

        .chats-content-wrapper {
            width: 75vw;
         
            display: flex;
            justify-content: center;
            align-items: center;
            .blank-chat {
                font-size: 12px;
                color: $gray;
            }

        }

      

        
    }


 

 
  }

  .footer {
    position: absolute;
    bottom: 0;
  }
}

.form {
  width: 340px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
  padding: 50px 30px 30px 30px;

  .form-title {
    margin: 0 145px;
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 40px;
    font-weight: 800;
    color: $black;
  }
  .form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;

    &.field-vertical {
      .field-input {
        border: none;
        border-bottom: 1px solid $blue;
        line-height: 25px;
        width: 100%;
      }
    }

    &.field-gorizontal {
      flex-direction: row;
      align-items: center;
      border-bottom: 1px solid $lightGray2;
      width: 510px;
      justify-content: space-between;
      padding-bottom: 5px;

      .field-label {
        font-weight: 600;
      }

      .input-wrapper {

        width: 250px;
      }

      .field-input {
        border: none !important;

       
   
      }

      
    }

    .field-input {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .error {
        color: $red;
      }
  }

  &.form-profile {
    width: 510px;
    box-shadow: none;
  }

  &.form-chats {
    width: 100%;
    border-radius: initial;
    padding: initial;
    box-shadow: none;

    .search-chats {
        width: 95%;
        margin: 0 auto;
       
    }
  }

  .form-buttons {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
