<div class="app">
    <main>
{{>Form fields=fields}}
    {{>Button id="submit" class="button" type="submit" text="Зарегистрироваться"}}
    {{>Button id="register" class="button" type="button" text="Войти"}} 
    </main>
   {{>Footer }}
</div>