<div class="app">

    <section class="page page-profile">
 <aside class="aside">
    {{{GoBackButton}}}
   </aside>
   <main class="profile-content">
        {{{Avatar}}}
    {{{ProfileForm}}}

   </main>
    </section>
   {{{Footer}}}
  
</div>
