<div class="app">

    <section class="page page-profile">
 <aside class="aside">
    {{{GoBackButton}}}
   </aside>
   <main class="profile-content">
    <div class="avatar-wrapper">
        {{{Avatar}}}
        <p>Иван</p>

    </div>
    {{{ProfileForm}}}

   </main>
    </section>
   {{{Footer}}}
  
</div>
