<div class="form-field {{extraClass}}">

  {{#if Label}}
    {{{Label}}}
  {{/if}}

  <div class="input-wrapper">
    {{{Input}}}
    {{#if isError}}
      {{{ErrorMessage}}}
    {{/if}}
  </div>

</div>
