<div class="form-field {{extraClass}}">
    {{>Label labelFor=labelFor labelText=labelText labelClass=labelClass }}
    {{>Input id=id type=inputType placeholder=placeholder name=name value=value }}
    {{#if error}}
        {{>ErrorMessage errorMessage=errorMessage }}
    {{/if}}
</div>
