<div class="form-field">
    {{>Label labelFor=labelFor labelText=labelText }}
    {{>Input id=id type=inputType placeholder=placeholder name=name value=value }}
    {{#if error}}
        {{>ErrorMessage errorMessage=errorMessage }}
    {{/if}}
</div>