<div class="app">
    <main class="page page-notFound">
    <p class="error-code">404</p>
    <p class="error-message">Не туда попали</p>
    {{>Button text="Назад к чатам" id="goback" mode="secondary" type="button"}}
    </main>
    
    {{>Footer}}
</div>
